<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.transitivity"
   name="com.choicemaker.cm.transitivity"
   version="2.5.0">

   <runtime>
      <library name="transitivity.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.io.blocking.automated.offline.core"/>
      <import plugin="org.apache.log4j"/>
      <import plugin="com.choicemaker.cm.transitivity.core"/>
      <import plugin="com.choicemaker.cm.core"/>
   </requires>


</plugin>
