<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.ml.me.base"
   name="ME Base Plug-in"
   version="2.7.1"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="base.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
   </requires>


   <extension
         id="me"
         name="me"
         point="com.choicemaker.cm.core.machineLearner">
      <config
            name="ME"
            class="com.choicemaker.cm.ml.me.xmlconf.MeModelConf"
            backwardCompatibilityId="com.choicemaker.cm.ml.me.xmlconf.MeModelConf">
      </config>
   </extension>

</plugin>
