<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.composite.base"
   name="Composite IO Base Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="base.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="com.choicemaker.cm.core.base"/>
   </requires>


   <extension
         id="compositeMrpsReader"
         name="compositeMrpsReader"
         point="com.choicemaker.cm.core.base.mrpsReader">
      <handler
            name="Composite IO"
            class="com.choicemaker.cm.io.composite.base.xmlconf.CompositeMarkedRecordPairSourceXmlConf"
            backwardCompatibilityId="com.choicemaker.cm.io.composite.xmlconf.CompositeMarkedRecordPairSourceXmlConf"
            handledClass="com.choicemaker.cm.io.composite.base.CompositeMarkedRecordPairSource">
      </handler>
   </extension>
   <extension
         id="compositeRsReader"
         name="compositeRsReader"
         point="com.choicemaker.cm.core.base.rsReader">
      <handler
            name="Composite RS"
            class="com.choicemaker.cm.io.composite.base.xmlconf.CompositeRecordSourceXmlConf"
            handledClass="com.choicemaker.cm.io.composite.base.CompositeRecordSource">
      </handler>
   </extension>

</plugin>
