<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.xml.base"
   name="XML IO Base Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="base.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core.base"/>
   </requires>


   <extension
         id="xmlMrpsReader"
         name="xml"
         point="com.choicemaker.cm.core.base.mrpsReader">
      <handler
            name="XML IO"
            class="com.choicemaker.cm.io.xml.base.xmlconf.XmlMarkedRecordPairSourceXmlConf"
            backwardCompatibilityId="com.choicemaker.cm.io.xml.xmlconf.XmlMarkedRecordPairSourceXmlConf"
            handledClass="com.choicemaker.cm.io.xml.base.XmlMarkedRecordPairSource">
      </handler>
   </extension>
   <extension
         id="xml"
         name="xml"
         point="com.choicemaker.cm.core.base.generatorPlugin">
      <plugin
            name="XML"
            class="com.choicemaker.cm.io.xml.base.gen.XmlGenerator">
      </plugin>
   </extension>
   <extension
         id="xmlRsReader"
         name="xmlRsReader"
         point="com.choicemaker.cm.core.base.rsReader">
      <handler
            name="XML"
            class="com.choicemaker.cm.io.xml.base.xmlconf.XmlRecordSourceXmlConf"
            backwardCompatibilityId="com.choicemaker.cm.io.xml.xmlconf.XmlRecordSourceXmlConf"
            handledClass="com.choicemaker.cm.io.xml.base.XmlRecordSource">
      </handler>
   </extension>
   <extension
         id="simpleXmlMrpsReader"
         name="simpleXmlMrpsReader"
         point="com.choicemaker.cm.core.base.fileMrpsReader">
      <handler
            class="com.choicemaker.cm.io.xml.base.xmlconf.SimpleXmlMarkedRecordPairSourceXmlConf"
            extension="xml">
      </handler>
   </extension>
   <extension
         id="xmlMatchCandidate"
         name="xmlMatchCandidate"
         point="com.choicemaker.cm.core.base.matchCandidate">
      <matchCandidate
            class="com.choicemaker.cm.io.xml.base.XmlMatchCandidateFactory">
      </matchCandidate>
   </extension>
   <extension
         id="xmlAccessor"
         name="xmlAccessor"
         point="com.choicemaker.cm.core.base.accessor">
      <accessor
            class="com.choicemaker.cm.io.xml.base.XmlAccessor">
      </accessor>
   </extension>
   <extension
         id="xmlReporterAccessor"
         name="xmlReporterAccessor"
         point="com.choicemaker.cm.core.base.accessor">
      <accessor
            class="com.choicemaker.cm.io.xml.base.XmlReporterAccessor">
      </accessor>
   </extension>

</plugin>
