<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.matching.en.us.ny.nyc"
   name="Matching locale en.us.ny.nyc Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="nyc.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.matching.gen"/>
      <import plugin="com.choicemaker.cm.core"/>
   </requires>


   <extension
         name="NameParser and StreetParser Sets"
         point="com.choicemaker.cm.matching.gen.set">
      <fileSet
            name="streetTypes"
            file="etc/data/streetParser/streetTypes.txt">
      </fileSet>
      <fileSet
            name="childOfIndicators"
            file="etc/data/nameParser/childOfIndicators.txt">
      </fileSet>
      <fileSet
            name="genericFirstNames"
            file="etc/data/nameParser/genericFirstNames.txt">
      </fileSet>
      <fileSet
            name="invalidLastNames"
            file="etc/data/nameParser/invalidLastNames.txt">
      </fileSet>
      <fileSet
            name="nameTitles"
            file="etc/data/nameParser/nameTitles.txt">
      </fileSet>
      <fileSet
            name="maleIndicators"
            file="etc/data/nameParser/maleIndicators.txt">
      </fileSet>
      <fileSet
            name="femaleIndicators"
            file="etc/data/nameParser/femaleIndicators.txt">
      </fileSet>
      <fileSet
            name="twinIndicators"
            file="etc/data/nameParser/twinIndicators.txt">
      </fileSet>
      <fileSet
            name="lastNamePrefixes"
            file="etc/data/nameParser/lastNamePrefixes.txt">
      </fileSet>
   </extension>
   <extension
         name="StreetParser Maps"
         point="com.choicemaker.cm.matching.gen.map">
      <fileMap
            name="commonStreetNameShortHands"
            file="etc/data/streetParser/commonStreetNameShorthands.txt">
      </fileMap>
      <fileMap
            name="standardStreetTypes"
            file="etc/data/streetParser/standardStreetTypes.txt">
      </fileMap>
   </extension>
   <extension
         point="com.choicemaker.cm.matching.gen.set">
      <fileSet
            name="aptTypes"
            file="etc/data/aptTypes.txt">
      </fileSet>
      <fileSet
            name="cardinals"
            file="etc/data/cardinals.txt">
      </fileSet>
      <fileSet
            name="collapsableNameFragments"
            file="etc/data/collapsableNameFragments.txt">
      </fileSet>
      <fileSet
            name="directions"
            file="etc/data/directions.txt">
      </fileSet>
      <fileSet
            name="directionsToSplit"
            file="etc/data/directionsToSplit.txt">
      </fileSet>
      <fileSet
            name="namePrefixes"
            file="etc/data/namePrefixes.txt">
      </fileSet>
      <fileSet
            name="nameSuffixes"
            file="etc/data/nameSuffixes.txt">
      </fileSet>
      <fileSet
            name="ordinalExtensions"
            file="etc/data/ordinalExtensions.txt">
      </fileSet>
      <fileSet
            name="ordinals"
            file="etc/data/ordinals.txt">
      </fileSet>
      <fileSet
            name="standaloneAptTypes"
            file="etc/data/standardAptTypes.txt">
      </fileSet>
      <fileSet
            name="streetSuffixes"
            file="etc/data/streetSuffixes.txt">
      </fileSet>
      <fileSet
            name="cityWords_1_1"
            file="etc/data/cityWords_1_1.txt">
      </fileSet>
      <fileSet
            name="cityWords_2_1"
            file="etc/data/cityWords_2_1.txt">
      </fileSet>
      <fileSet
            name="cityWords_2_2"
            file="etc/data/cityWords_2_2.txt">
      </fileSet>
      <fileSet
            name="cityWords_3_1"
            file="etc/data/cityWords_3_1.txt">
      </fileSet>
      <fileSet
            name="cityWords_3_2"
            file="etc/data/cityWords_3_2.txt">
      </fileSet>
      <fileSet
            name="cityWords_3_3"
            file="etc/data/cityWords_3_3.txt">
      </fileSet>
   </extension>
   <extension
         point="com.choicemaker.cm.matching.gen.map">
      <fileMap
            name="aptTypeCounts"
            file="etc/data/aptTypeCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="cardinalCounts"
            file="etc/data/cardinalCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="directionCounts"
            file="etc/data/directionCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="firstNameCounts"
            file="etc/data/firstNameCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="firstNameFrequency"
            file="etc/data/firstNameFrequency.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="firstNameFrequency10"
            file="etc/data/firstNameFrequency10.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="firstNameGenders"
            file="etc/data/firstNameGenders.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="lastNameCounts"
            file="etc/data/lastNameCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="lastNameFrequency"
            file="etc/data/lastNameFrequency.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="lastNameFrequency10"
            file="etc/data/lastNameFrequency10.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="ordinalCounts"
            file="etc/data/ordinalCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="ordinalExtensionCounts"
            file="etc/data/ordinalExtensionCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="ordinalsToNumbers"
            file="etc/data/ordinalsToNumbers.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="standardAptTypes"
            file="etc/data/standardAptTypes.txt">
      </fileMap>
      <fileMap
            name="standardCardinals"
            file="etc/data/standardCardinals.txt">
      </fileMap>
      <fileMap
            name="standardDirections"
            file="etc/data/standardDirections.txt">
      </fileMap>
      <fileMap
            name="standardOrdinalExtensions"
            file="etc/data/standardOrdinalExtensions.txt">
      </fileMap>
      <fileMap
            name="standardStreetSuffixes"
            file="etc/data/standardStreetSuffixes.txt">
      </fileMap>
      <fileMap
            name="standardWords"
            file="etc/data/standardWords.txt">
      </fileMap>
      <fileMap
            name="streetSuffixCounts"
            file="etc/data/streetSuffixCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="wordCounts"
            file="etc/data/wordCounts.txt"
            valueType="int">
      </fileMap>
      <fileMap
            name="standardOrdinalTypes"
            file="etc/data/ordinalsToNumbers.txt">
      </fileMap>
      <fileMap
            name="multiFirstName"
            file="etc/data/multiFirstName.txt"
            valueType="int">
      </fileMap>
      <fileMap
            singleLine="true"
            name="standardOrdinals"
            file="etc/data/standardOrdinals.txt">
      </fileMap>
   </extension>
   <extension
         point="com.choicemaker.cm.matching.gen.relation">
      <fileRelation
            name="nicknames"
            file="etc/data/nicknames.txt">
      </fileRelation>
   </extension>
   <extension
         point="com.choicemaker.cm.core.namedResource">
      <namedResource
            name="nameGrammar"
            file="etc/grammars/probabalisticNameGrammar.txt">
      </namedResource>
      <namedResource
            name="addressGrammar"
            file="etc/grammars/probabalisticAddressGrammar.txt">
      </namedResource>
   </extension>
   <extension
         point="com.choicemaker.cm.matching.gen.map">
      <fileMap
            singleLine="true"
            name="en.us.ny.nyc.commonCityAbbreviations"
            file="etc/data/en.us.ny.nyc.commonCityAbbreviations.txt">
      </fileMap>
   </extension>

</plugin>
