
body
{
  background-color: #FFFFFF;
  font-family: Helvetica;
}

tt
{
  font-weight: Bold;
}

code
{
  font-weight: Bold;
}

.hv
{
  font-family: Helvetica;
}

p
{
  font-family: Helvetica;
}

li
{
  font-family: Helvetica;
}

dd
{
  font-family: Helvetica;
}

h1
{
  font-family: Helvetica;
}

h2
{
  font-family: Helvetica;
}

h3
{
  font-family: Helvetica;
  text-decoration: Underline;
}

pre
{
  font-family: Courier, sans-serif;
  font-weight: Bold;
  font-size: 70%;
}

td
{
  font-family: Helvetica;
  background-color: #EEEEEE;
}

.whitetd
{
  font-family: Helvetica;
  background-color: #FFFFFF;
}

th
{
  font-family: Helvetica;
  font-size: 90%;
  background-color: #CCCCCC;
}

