<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.blocking.exact.gui"
   name="Blocking Exact Gui Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="gui.jar"/>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core.base"/>
      <import plugin="com.choicemaker.cm.io.blocking.exact.base"/>
      <import plugin="com.choicemaker.cm.io.blocking.base"/>
      <import plugin="com.choicemaker.cm.modelmaker"/>
   </requires>


   <extension
         id="exactBlockerToolkit"
         name="exactBlockerToolkit"
         point="com.choicemaker.cm.modelmaker.matcherBlockingToolkit">
      <toolkit
            name="%gui.name"
            class="com.choicemaker.cm.io.blocking.exact.gui.matcher.ExactBlockerToolkit">
      </toolkit>
   </extension>

</plugin>
