<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.ml.me.gui"
   name="ChoiceMaker Maximum Entropy Plug-in (GUI)"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="gui.jar"/>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.ml.me.base"/>
      <import plugin="com.choicemaker.cm.modelmaker"/>
   </requires>


   <extension
         id="meMlTrainGui"
         name="meMlTrainGui"
         point="com.choicemaker.cm.modelmaker.mlTrainGuiPlugin">
      <gui
            name="Maximum Entropy"
            class="com.choicemaker.cm.ml.me.gui.MeGuiFactory"
            handledClass="com.choicemaker.cm.ml.me.base.MaximumEntropy">
      </gui>
   </extension>

</plugin>
