<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.blocking.automated.base"
   name="Automated Blocking Base Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="base.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core.base"/>
      <import plugin="com.choicemaker.cm.io.blocking.base"/>
      <import plugin="com.choicemaker.cm.io.db.base"/>
   </requires>


   <extension-point id="databaseAccessor" name="databaseAccessor" schema="schema/databaseAccessor.exsd"/>
   <extension-point id="databaseAbstraction" name="databaseAbstraction" schema="schema/databaseAbstraction.exsd"/>

   <extension
         point="com.choicemaker.cm.core.base.generatorPlugin">
      <plugin
            name="Automated blocking"
            class="com.choicemaker.cm.io.blocking.automated.gen.BlockingGenerator">
      </plugin>
   </extension>
   <extension
         id="blockingAccessor"
         name="blockingAccessor"
         point="com.choicemaker.cm.core.base.accessor">
      <accessor
            class="com.choicemaker.cm.io.blocking.automated.base.BlockingAccessor">
      </accessor>
   </extension>

</plugin>
