<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.flatfile.gui"
   name="Flatfile IO Gui Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="gui.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.io.flatfile.base"/>
      <import plugin="com.choicemaker.cm.modelmaker"/>
      <import plugin="com.choicemaker.cm.gui.utils"/>
   </requires>


   <extension
         id="flatfileMrspReaderGui"
         name="flatfileMrspReaderGui"
         point="com.choicemaker.cm.modelmaker.mrpsReaderGui">
      <gui
            hasSink="true"
            name="Flat file"
            class="com.choicemaker.cm.io.flatfile.gui.FlatFileMarkedRecordPairSourceGuiFactory"
            handledClass="com.choicemaker.cm.io.flatfile.base.FlatFileMarkedRecordPairSource">
      </gui>
   </extension>
   <extension
         id="flatfileRsReaderGui"
         name="flatfileRsReaderGui"
         point="com.choicemaker.cm.modelmaker.rsReaderGui">
      <gui
            hasSink="true"
            name="Flat file"
            class="com.choicemaker.cm.io.flatfile.gui.FlatFileRecordSourceGuiFactory"
            handledClass="com.choicemaker.cm.io.flatfile.base.FlatFileRecordSource">
      </gui>
   </extension>

</plugin>
