<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
>

  <persistence-unit name="oaba" transaction-type="JTA">

    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>

    <jta-data-source>choicemaker/urm/jdbc/ChoiceMakerEjb</jta-data-source>

    <class>com.choicemaker.cm.batch.impl.BatchJobEntity</class>
    <class>com.choicemaker.cm.batch.impl.BatchProcessingEventEntity</class>
    <class>com.choicemaker.cm.batch.impl.OperationalPropertyEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.AbaSettingsEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.AbstractParametersEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.AbstractRecordIdTranslationEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.BaseRecordSourceEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.DefaultServerConfigurationEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.DefaultSettingsEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaJobEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaParametersEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaProcessingEventEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaSettingsEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.RecordIdIntegerTranslation</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.RecordIdLongTranslation</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.RecordIdStringTranslation</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.ServerConfigurationEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.SqlRecordSourceEntity</class>
    <class>com.choicemaker.cm.transitivity.server.impl.TransitivityJobEntity</class>
    <class>com.choicemaker.cm.transitivity.server.impl.TransitivityParametersEntity</class>
    <class>com.choicemaker.cm.transitivity.server.impl.TransitivityProcessingEventEntity</class>    
    <!--
    <class>Xxx</class>    
    -->

    <properties>
      <property name="eclipselink.target-server" value="JBoss" />
      <property name="eclipselink.ddl-generation" value="create-or-extend-tables" />
      <property name="eclipselink.ddl-generation.output-mode" value="both" />
      <property name="eclipselink.logging.logger" value="ServerLogger" />
      <property name="eclipselink.logging.level.sql" value="FINE" />
      <property name="eclipselink.logging.parameters" value="true" />
    </properties>
  </persistence-unit>

  <persistence-unit name="oaba-local" transaction-type="RESOURCE_LOCAL">

    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>

    <non-jta-data-source>jboss/datasources/DefaultDS0</non-jta-data-source>

    <class>com.choicemaker.cm.batch.impl.BatchJobEntity</class>
    <class>com.choicemaker.cm.batch.impl.BatchProcessingEventEntity</class>
    <class>com.choicemaker.cm.batch.impl.OperationalPropertyEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.AbaSettingsEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.AbstractParametersEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.AbstractRecordIdTranslationEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.BaseRecordSourceEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.DefaultServerConfigurationEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.DefaultSettingsEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaJobEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaParametersEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaProcessingEventEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.OabaSettingsEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.RecordIdIntegerTranslation</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.RecordIdLongTranslation</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.RecordIdStringTranslation</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.ServerConfigurationEntity</class>
    <class>com.choicemaker.cm.io.blocking.automated.offline.server.impl.SqlRecordSourceEntity</class>
    <class>com.choicemaker.cm.transitivity.server.impl.TransitivityJobEntity</class>
    <class>com.choicemaker.cm.transitivity.server.impl.TransitivityParametersEntity</class>
    <class>com.choicemaker.cm.transitivity.server.impl.TransitivityProcessingEventEntity</class>    

    <properties>
      <property name="eclipselink.target-server" value="JBoss" />
      <property name="eclipselink.ddl-generation" value="create-or-extend-tables" />
      <property name="eclipselink.ddl-generation.output-mode" value="both" />
      <property name="eclipselink.logging.logger" value="ServerLogger" />
      <property name="eclipselink.logging.level.sql" value="FINE" />
      <property name="eclipselink.logging.parameters" value="true" />
    </properties>
  </persistence-unit>

</persistence>

