<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.matching.gen"
   name="Matching Gen Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="gen.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core.base"/>
   </requires>


   <extension-point id="set" name="Set" schema="schema/set.exsd"/>
   <extension-point id="map" name="Map" schema="schema/map.exsd"/>
   <extension-point id="relation" name="Relation" schema="schema/relation.exsd"/>

   <extension
         point="com.choicemaker.cm.matching.gen.map">
      <fileMap
            name="defaultIdf"
            file="etc/data/defaultIdf.txt"
            valueType="double">
      </fileMap>
   </extension>

</plugin>
