<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="person-matching-models"
   name="Person-Matching Plugin Models"
   version="2.7.1"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="models.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
   </requires>

   <extension
         point="com.choicemaker.cm.core.model">
      <modelConfiguration
            name="model1"
            file="/com/choicemaker/cm/simple-person-plugin/SimplePerson.model"/>
      <modelConfiguration
            name="model2"
            file="/com/choicemaker/cm/simple-person-plugin/SimplePerson2.model"/>
   </extension>

   <extension
         point="com.choicemaker.cm.core.modelConfiguration">
      <modelConfiguration
            name="model1Config1"
            file="/com/choicemaker/cm/simple-person-plugin/Mode1Config1.xml"/>
      <modelConfiguration
            name="model1Config2"
            file="/com/choicemaker/cm/simple-person-plugin/Mode1Config1.xml"/>
   </extension>

</plugin>
