<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.core"
   name="ChoiceMaker Core Plug-in"
   version="2.7.1"
   provider-name="rphall">

   <runtime>
      <library name="core.jar">
         <export name="*"/>
      </library>
      <library name="lib/"/>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.e2"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.jdom" export="true"/>
   </requires>

   <extension-point id="accessor" name="Accessor" schema="schema/accessor.exsd"/>
   <extension-point id="commandLineArgument" name="Command Line Argument" schema="schema/commandLineArgument.exsd"/>
   <extension-point id="fileMrpsReader" name="File-based Mrps Reader" schema="schema/fileMrpsReader.exsd"/>
   <extension-point id="generatorPlugin" name="Generator Plugin" schema="schema/generatorPlugin.exsd"/>
   <extension-point id="machineLearner" name="Machine Learner" schema="schema/machineLearner.exsd"/>
   <extension-point id="matchCandidate" name="Match Candidate" schema="schema/matchCandidate.exsd"/>
   <extension-point id="modelConfiguration" name="Model Configuration" schema="schema/modelConfiguration.exsd"/>
   <extension-point id="mrpsReader" name="MRPS Reader" schema="schema/mrpsReader.exsd"/>
   <extension-point id="namedResource" name="Named Resource" schema="schema/namedResource.exsd"/>
   <extension-point id="objectGenerator" name="Object Generator" schema="schema/objectGenerator.exsd"/>
   <extension-point id="reporter" name="Reporter" schema="schema/reporter.exsd"/>
   <extension-point id="rsReader" name="RecordSource Reader" schema="schema/rsReader.exsd"/>
   <extension-point id="rsSerializer" name="RecordSource Serializer" schema="schema/rsSerializer.exsd"/>

   <extension
         id="none"
         point="com.choicemaker.cm.core.machineLearner">
      <config
            name="None"
            class="com.choicemaker.cm.core.base.DoNothingMachineLearningPersistance">
      </config>
   </extension>
   <extension
         id="beanMatchCandidate"
         name="beanMatchCandidate"
         point="com.choicemaker.cm.core.matchCandidate">
      <matchCandidate
            class="com.choicemaker.cm.core.base.BeanMatchCandidateFactory">
      </matchCandidate>
   </extension>
   <extension
         id="matchCandidate"
         name="matchCandidate"
         point="com.choicemaker.cm.core.matchCandidate">
      <matchCandidate
            class="com.choicemaker.cm.core.base.MatchCandidateFactory">
      </matchCandidate>
   </extension>
   <extension
         id="coreAccessor"
         name="coreAccessor"
         point="com.choicemaker.cm.core.accessor">
      <accessor
            class="com.choicemaker.cm.core.Accessor">
      </accessor>
   </extension>
   <extension
         id="doNothingRecordSourceSerializer"
         point="com.choicemaker.cm.core.rsSerializer">
      <serializer
            class="com.choicemaker.cm.core.util.DoNothingRecordSourceSerializer"/>
   </extension>

</plugin>
