<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.module"
   name="Module Plug-in"
   version="2.7.0"
   provider-name="ChoiceMaker Technologies">

   <runtime>
      <library name="cm-module.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core.base"/>
   </requires>


</plugin>
