<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.analyzer.tools.gui"
   name="Analyzer Base Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker Technologies, Inc.">

   <runtime>
      <library name="gui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
   </requires>


</plugin>
