<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.batch"
   name="Batch Plug-in"
   version="2.5.0"
   provider-name="CHOICEMAKER"
   class="">

   <runtime>
      <library name="batch.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.args"/>
      <import plugin="com.choicemaker.cm.core"/>
   </requires>


</plugin>
