<?xml version="1.0" encoding="UTF-8"?>
<!-- @(#)$RCSfile: plugin.xml,v $  $Revision: 1.1 $ $Date: 2010/01/27 03:58:28 $ -->
<plugin
   id="com.choicemaker.eclipse.runtime"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName">

   <runtime>
      <library name="singlejar-runtime.jar" type="resource">
         <export name="*"/>
      </library>
   </runtime>

   <extension-point id="applications" name="%applicationsName" schema="schema/applications.mxsd"/>
   <extension-point id="urlHandlers" name="%handlersName" schema="schema/urlHandlers.mxsd"/>

</plugin>
