<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="jfree.jfreechart.eclipse2plugin"
   name="JFreeChart Plug-in"
   version="1.0.15"
   provider-name="Rick Hall">

   <runtime>
      <library name="jfreechart.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="jfree.jcommon.eclipse2plugin"/>
   </requires>

</plugin>
