<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.modelmaker"
   name="Modelmaker Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="modelmaker.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.analyzer.base"/>
      <import plugin="com.choicemaker.cm.compiler"/>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="jfree.jfreechart.eclipse2plugin"/>
      <import plugin="javax.help.eclipse2plugin"/>
      <import plugin="com.choicemaker.cm.gui.utils"/>
      <import plugin="com.choicemaker.cm.matching.en"/>
      <import plugin="com.choicemaker.cm.matching.gen"/>
      <import plugin="com.choicemaker.cm.docs"/>
      <import plugin="com.choicemaker.cm.matching.geo"/>
      <import plugin="com.wcohen.ss.eclipse"/>
      <import plugin="com.choicemaker.cm.module"/>
   </requires>


   <extension-point id="mrpsReaderGui" name="MRPS Reader Gui" schema="schema/mrpsReaderGui.exsd"/>
   <extension-point id="mlTrainGuiPlugin" name="Machine Learning Training Gui" schema="schema/mlTrainGuiPlugin.exsd"/>
   <extension-point id="rsReaderGui" name="RecordSource Reader Gui" schema="schema/rsReaderGui.exsd"/>
   <extension-point id="matcherBlockingToolkit" name="Matcher Blocking Toolkit" schema="schema/matcherBlockingToolkit.exsd"/>
   <extension-point id="toolMenuItem" name="Tool Menu Item" schema="schema/toolMenuItem.exsd"/>
   <extension-point id="pluggableMenuItem" name="Pluggable Menu Item" schema="schema/pluggableMenuItem.exsd"/>
   <extension-point id="pluggableController" name="Cluster Controller" schema="schema/clusterController.exsd"/>

   <extension
         id="ModelMaker"
         point="com.choicemaker.e2.applications">
      <application>
         <run
               class="com.choicemaker.cm.modelmaker.gui.ModelMaker">
         </run>
      </application>
   </extension>
   <extension
         id="AllBlocker"
         point="com.choicemaker.cm.modelmaker.matcherBlockingToolkit">
      <toolkit
            name="All Blocker"
            class="com.choicemaker.cm.modelmaker.gui.matcher.AllBlockerToolkit">
      </toolkit>
   </extension>
   <extension
         id="NoMachineLearningGui"
         point="com.choicemaker.cm.modelmaker.mlTrainGuiPlugin">
      <gui
            name="None"
            class="com.choicemaker.cm.ml.none.gui.NoneGuiFactory"
            handledClass="com.choicemaker.cm.core.base.DoNothingMachineLearning">
      </gui>
   </extension>

</plugin>
