<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.blocking.automated.offline.server"
   name="Server Plug-in"
   version="2.5.0"
   provider-name="CHOICEMAKER"
   class="">

   <runtime>
      <library name="oaba-server.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.io.blocking.automated.offline"/>
      <import plugin="com.choicemaker.cm.core"/>
      <import plugin="com.choicemaker.cm.io.db.base"/>
      <import plugin="com.choicemaker.cm.io.blocking.automated.base"/>
      <import plugin="com.choicemaker.cm.server.base"/>
      <import plugin="com.choicemaker.cm.server.ejb.impl"/>
      <import plugin="com.choicemaker.cm.io.xml.base"/>
      <import plugin="com.choicemaker.cm.io.flatfile.base"/>
      <import plugin="com.choicemaker.cm.io.blocking.automated.offline.core"/>
      <import plugin="com.choicemaker.autonumber"/>
      <import plugin="org.jboss.j2ee"/>
   </requires>


</plugin>
