<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.server.base"
   name="Server Base Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="base.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core.base"/>
   </requires>


   <extension-point id="initializer" name="%ExtPoint.initializer" schema="schema/initializer.exsd"/>
   <extension-point id="boundObject" name="%ExtPoint.boundObject" schema="schema/boundObject.exsd"/>

</plugin>
