.quote {
	font-weight: bold;
}

h2 {
	font-family: "trebuchet ms", "arial narrow", tahoma;
	font-size: 20px;
	color: #004E93;
}



h4 {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

table.tabular {
}

.code {
	font-family: monospace;
	background-color: #eeeeee;
	padding: 5px;
	border: 1px solid #666666;
}

table.itemlist {
	border-collapse:collapse;
}


table.itemlist td {
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom: 1px dotted #cccccc;
}
