<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.io.db.base"
   name="DB IO Base Plug-in"
   version="2.5.0"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="base.jar">
         <export name="*"/>
      </library>
      <library name="lib/protomatter-1.1.8-ABRIDGED.jar"/>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core.base"/>
      <!-- import plugin="javax.sql" export="true"/ -->
   </requires>


   <extension
         point="com.choicemaker.cm.core.base.generatorPlugin">
      <plugin
            name="DB"
            class="com.choicemaker.cm.io.db.base.gen.DbGenerator">
      </plugin>
   </extension>
   <extension
         id="dbMrpsReader"
         name="dbMrpsReader"
         point="com.choicemaker.cm.core.base.mrpsReader">
      <handler
            name="DB"
            class="com.choicemaker.cm.io.db.base.xmlconf.DbMarkedRecordPairSourceXmlConf"
            backwardCompatibilityId="com.choicemaker.cm.plugin.db.xmlconf.DbMarkedRecordPairSourceXmlConf"
            handledClass="com.choicemaker.cm.io.db.base.DbMarkedRecordPairSource">
      </handler>
   </extension>
   <extension
         id="dbAccessor"
         name="dbAccessor"
         point="com.choicemaker.cm.core.base.accessor">
      <accessor
            class="com.choicemaker.cm.io.db.base.DbAccessor">
      </accessor>
   </extension>
   <extension
         id="dbRsReader"
         point="com.choicemaker.cm.core.base.rsReader">
      <handler
            name="DB"
            class="com.choicemaker.cm.io.db.base.xmlconf.DbRecordSourceXmlConf"
            handledClass="com.choicemaker.cm.io.db.base.DbRecordSource">
      </handler>
   </extension>

</plugin>
