<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.simplePersonMatching"
   name="Simple Person Matching Models"
   version="2.7.1"
   provider-name="ChoiceMaker">

   <runtime>
      <library name="models.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="com.choicemaker.cm.core"/>
   </requires>

   <extension
         id="Model1"
         point="com.choicemaker.cm.core.modelConfiguration">
      <modelConfiguration
         model="etc/models/SimplePerson.model"
         databaseAbstraction="com.choicemaker.cm.io.db.sqlserver.sqlServerDatabaseAbstraction"
         databaseAccessor="com.choicemaker.cm.io.db.sqlserver.sqlServerDatabaseAccessor"
         databaseConfiguration="default"
         blockingConfiguration="defaultAutomated"/>
   </extension>

   <extension
         id="Model2"
         point="com.choicemaker.cm.core.modelConfiguration">
      <modelConfiguration
         model="etc/models/SimplePerson2.model"
         databaseAbstraction="com.choicemaker.cm.io.db.oracle.oracleDatabaseAbstraction"
         databaseAccessor="com.choicemaker.cm.io.db.oracle.oracleDatabaseAccessor"
         databaseConfiguration="default"
         blockingConfiguration="defaultAutomated"/>
   </extension>

</plugin>
