archive
bin
build.xml
.clover
com.choicemaker.cm.*_*.jar
com.choicemaker.cm.*_*.zip
plugin.xml
project.t.xml
project.xml
target
temp.folder
tmp
urm-ejb.jar
urm-ejbsrc.zip
.project
.classpath
.settings
