<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.choicemaker.cm.core"
   name="ChoiceMaker Core Plug-in"
   version="2.7.1"
   provider-name="rphall">

   <runtime>
      <library name="person.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
<!--
      <import plugin="org.apache.ant"/>
      <import plugin="org.jdom" export="true"/>
-->
   </requires>

<!--
   <extension
         id="none"
         point="com.choicemaker.cm.core.machineLearner">
      <config
            name="None"
            class="com.choicemaker.cm.core.base.DoNothingMachineLearningPersistance">
      </config>
   </extension>
-->

</plugin>
